variant: fcos
version: 1.4.0
kernel_arguments:
  should_exist:
    - quiet
#   - amd_iommu=on
    - intel_iommu=on

passwd:
  users:
    - name: hopadm
      password_hash: {{ template_password }}
      groups:
        - sudo
storage:
  links:
    # setup timezone
    - path: /etc/localtime
      target: ../usr/share/zoneinfo/Asia/Hong_Kong

  directories:
    # Setup File for libvirt
    - path: /var/lib/libvirt/images
      mode: 0771

    # Setup File for rsyslog server
    - path: /var/lib/rsyslog
      mode: 0700

    # Setup File for auditd
    - path: /var/log/audit
      mode: 0700

  files:
    # Set the Machine Hostname
    - path: /etc/hostname
      overwrite: True
      mode: 0644
      contents:
        inline: |
          {{ template_hostname }}

    # Set a cool motd
    - path: /etc/motd
      overwrite: True
      mode: 0644
      contents:
        inline: |
          ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
          ░░░░░░░░░░░░░█▀█░█░█░█▀█░█▀█░░░░░░░░░░░░
          ░░░░░░░░░░░░░█░█░█▀█░█░█░█▀▀░░░░░░░░░░░░
          ░░░░░░░░░░░░░▀░▀░▀░▀░▀▀▀░▀░░░░░░░░░░░░░░
          ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    # Only let the hopadm to be connect via ssh with password
    - path: /etc/ssh/sshd_config.d/20-enable-passwords.conf
      overwrite: True
      mode: 0644
      contents:
        inline: |
          # Enable SSH password login
          Match User hopadm
            PasswordAuthentication yes

    # Set password for sudo group
    - path: /etc/sudoers.d/coreos-sudo-group
      overwrite: True
      contents:
        inline: |
          %sudo     ALL=(ALL)   ALL

    # Create a customisation file to add stuff on the system
    - path: /etc/coreos/source-rebase.sh
      overwrite: True
      mode: 0740
      contents:
        inline: |
          #!/bin/bash
          echo "PLEASE WAIT THE OS IS CONFIGURING"
          rpm-ostree refresh-md
          rpm-ostree rebase ostree-unverified-registry:registry.gitlab.com/asrs/coreos-vlayer
          echo "libvirt:x:973:hopadm" >> /etc/group
          echo "kvm:x:36:qemu" >> /etc/group
          reboot

    # Change the default editor
    - path: /etc/profile.d/zz-default-editor.sh
      overwrite: True
      contents:
        inline: |
          export EDITOR=vim

    # configure the passthrough kernel modules
    - path: /etc/modprobe.d/vfio.conf
      overwrite: True
      mode: 0644
      contents:
        inline: |
          options vfio_pci vfio vfio_iommu_type1 vfio_virqfd vendor-reset kvm kvm_intel

    # configure the system to load up the modules
    - path: /etc/modules-load.d/vfio-pci.conf
      overwrite: True
      mode: 0644
      contents:
        inline: vfio-pci

    # trying to add a grub entry on local iso to boot on ram to relaunch coreos installer
    - path: /etc/grub.d/40_custom
      overwrite: True
      mode: 0744
      contents:
        inline: |
          #!/bin/sh
          exec tail -n +3 $0
          # This file provides an easy way to add custom menu entries.  Simply type the
          # menu entries you want to add after this comment.  Be careful not to change
          # the 'exec tail' line above.
          menuentry "Reinstall-OS"{
              set isofile="/etc/live/alpine-virt-3.17.2-x86_64.iso"
              search --no-floppy -f --set=root $isofile
              probe -u $root --set=abc
              set pqr="/dev/disk/by-uuid/$abc"
              loopback loop $isofile
              linux  (loop)/boot/vmlinuz-x86_64  img_dev=$pqr img_loop=$isofile copytoram
              initrd  (loop)/boot/intel_ucode.img (loop)/boot/initramfs-x86_64.img
          }

systemd:
  units:
    # launch the rebase post-install
    - name: source-rebase.service
      enabled: true
      contents: |
        [Unit]
        Description=setup with rpm-ostree
        Wants=network-online.target
        After=network-online.target
        Before=zincati.service
        ConditionPathExists=!/var/lib/%N.stamp

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/etc/coreos/source-rebase.sh
        ExecStart=/bin/touch /var/lib/%N.stamp

        [Install]
        WantedBy=multi-user.target
